transition()
  transition: all .5s ease
  
transit(n)
  transition: all n ease

center-container()
  lost-center 93.6rem

center-cont(x)
  lost-center x

section-headings()
  display block
  color darkGray
  font-family Arial
  font-size 1.5rem
  font-weight 600
  text-transform uppercase
  transition()
  &:hover
    opacity .5
  
section-padding()
  padding 3rem 0

prop-title()
  color anotherGray
  font-family Arial
  font-size 1.1rem
  font-weight 700
  text-transform capitalize

prop-value()
  margin-left .5rem
  color anotherGray
  font-family Arial
  font-size 1.1rem
  font-weight 400
  
hover-opacity()
  &:hover
    opacity .7

flex-vertic-row-center()
  display flex
  flex-direction row
  align-items center

flex-horiz-center-row()
  display flex
  flex-direction row
  justify-content center

flex-vertic-center-column()
  display flex
  flex-direction column
  align-items center

flex-vertic-center-row()
  display flex
  flex-direction column
  justify-content center

flex-center-both-row()
  display flex
  flex-direction row
  align-items center
  justify-content center

flex-center-both-column()
  display flex
  flex-direction column
  align-items center
  justify-content center
