
.svg-common 
  background-image url(sprite/svg-sprite.svg)
  display inline-block
  background-repeat no-repeat

// i.svg-common.svg-test_svg
$varcoords = 0 0 24px 24px;
.svg-test_svg
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

