// Variables that define breakpoints for rupture
rupture.mobile-cutoff = 415px
rupture.desktop-cutoff = 1280px
rupture.hd-cutoff = 1440px

// Variables that define colors
black = #111
white = #fff
textGray = #aaa
sliderBg = #ddd
propsBg = #eee
mgreen = #4CAF50
darkGray = #333
textGray2 = #707070
anotherGray = #666
redName = #d84949
anotherGrayText = #999
fbblue = #3B5998
mblue = #2196F3
mindigo = #3F51B5
