<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Test Jade Compilation

    //- Responsive
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    //- meta(name="viewport" content="width=1200, initial-scale=0.2")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="HandheldFriendly" content="true")
    //- SEO metatags
    meta(name="Description" content="")
    meta(name="Keywords" content="")

    //- Styles
    link(rel="stylesheet", href="css/styles.css")


  body
    header
      p.test-text-styles This message shows that Jade is compiled correctly!
      i.svg-common.svg-test_svg
      i.s-global.s-test_png

  //- Javascript
  script(src='js/app.js')
